body {
  font-family: sans-serif;
  /* max-width: 1400px;
  margin: 0 auto; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  color: white;
  background-color: orange;
  border: none;
}

.web-site-parent {
  display: flex;
  flex-flow: row wrap;
}

.web-site-child-1 {
  width: 4vw;
  background-color: orange;
}

.web-site-child-1 img {
  width: 100%;
}

/* header */

.web-site-child-2 {
  width: 95%;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  z-index: 3;
  position: absolute;
  top: 5%;
  left: 6%;
}

header {
  display: flex;
  flex-flow: row wrap;
}

.header-color {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-child-div-1 {
  width: 70%;
  background-image: url(./img/hero.jpeg);
  background-size: cover;
  position: relative;
  height: 600px;
}

.header-child-div-1-favicon {
  width: 15vw;
  margin-left: 22vw;
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.header-child-div-1-favicon img {
  width: 100%;
}

.header-child-div-1-personal h3 {
  color: orange;
  text-transform: uppercase;
  margin-bottom: 1vh;
  font-size: 24px;
}

.personal-freedom {
  color: white;
  font-size: 36px;
  margin-bottom: 2vh;
}

.header-button {
  width: 20vw;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.header-button p {
  font-size: 24px;
  text-transform: uppercase;
}

.header-seen-on-parent {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
}

.header-seen-on-border {
  width: 44%;
  border: none;
  border-bottom: 1px solid white;
}

.header-seen-on-text {
  color: white;
  font-size: 18.72px;
  position: relative;
  top: 10px;
  margin: 0 10px;
}

.header-partners {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.header-partners img {
  width: 7vw;
}

.header-child-div-2 {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /* align-items: center; */
  /* vertical-align: bottom; */
  /* text-align: center; */
  /* margin: 0 auto; */
  background-color: rgb(2, 2, 58);
  color: white;
}

.header-child-div-2-first-p {
  font-size: 24px;
  color: orange;
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
  /* margin-top: 0px; */
}

.realtors-div-parent {
  margin: 0 auto;
  width: 80%;
  align-items: center;
}

.realtors-div {
  display: flex;
  flex-flow: row wrap;
  margin: 15px auto;
  margin-left: 40px;
  /* margin-top: ; */
  /* margin: 0 auto; */
}

.realtors-div img {
  width: 80px;
  border: none;
  border-radius: 50%;
}

.realtors-p-1 {
  font-size: 24px;
  margin: 10px;
  text-transform: capitalize;
}

.realtors-p-2 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px;
}
/* /header */

/* main section 1 */

.main-section-1 {
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  /* margin-top: 12vh;
  margin-bottom: 12vh; */
}

.main-section-1-child-div {
  margin: 20px;
  padding: 10px;
}

.main-section-p-1 {
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

.main-section-p-2 {
  line-height: 30px;
}
/* /main section 1 */

/* main section 2 */

.main-section-2 {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  margin-bottom: 100px;
}

.main-section-2-img-div {
  width: 50%;
  position: relative;
}

.main-section-2-img-1 {
  width: 100%;
  z-index: 2;
  filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
}

.main-section-2-img-2 {
  width: 60%;
  z-index: 3;
  position: absolute;
  top: 15%;
  left: 18%;
}

.main-section-2-img-3 {
  z-index: 4;
  width: 40%;
  position: absolute;

  top: 40%;
  left: 65%;
}

.main-section-2-text-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  background-color: rgb(246, 232, 232);
  height: 480px;
}

.main-section-2-child-container {
  width: 60%;
  margin: 0 auto;
}

.main-section-2-h3 {
  color: orange;
  text-transform: uppercase;
  margin: 10px;
}
.main-section-2-text-div-big-p {
  font-size: 36px;
  color: black;
  margin: 10px;
}

.main-section-2-text-div-smool-p {
  font-size: 18.72px;
  line-height: 36px;
  opacity: 0.8;
  margin: 10px;
}

.main-section-2-button {
  padding: 10px 20px;
  text-transform: uppercase;
}

/* / main section 2 */

/* main section 3 */

.main-section-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;

  width: 90%;
  margin: 0 auto;
}

.main-section-3-divs {
  margin: 30px;
  /* position: relative; */
  text-align: center;
  background-color: rgb(247, 242, 236);
}

.main-section-3-divs img {
  width: 100%;
}

.main-section-3-button-1 {
  background-color: black;
  padding: 10px;
  width: 80%;
  margin-top: -50px;
  text-transform: capitalize;
  /* position: absolute;
  top: 200px;
  left: 20px; */
}
.main-section-3-button-2 {
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  margin-top: 30px;
}

.main-section-3-divs-child-divs {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  margin: 40px 10%;
}

/* /main section 3 */

/* main section 4 */

.container {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  /* margin: 10px; */
  /* margin-left: 9%; */
  display: grid;
  margin: 10px auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 5px;
}

.box-1 {
  background-image: url(./img/gal-1.jpeg);
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.box-2 {
  background-image: url(./img/gal-2.jpeg);
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}

.box-3 {
  background-image: url(./img/gal-3.jpeg);
  grid-column: 6 / span 1;
  grid-row: 1 / span 2;
}

.box-4 {
  background-image: url(./img/gal-4.jpeg);
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
}

.box-5 {
  background-image: url(./img/gal-5.jpeg);
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
}

.box-6 {
  background-image: url(./img/gal-6.jpeg);
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
}

.box-7 {
  background-image: url(./img/gal-7.jpeg);
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
}

.box-8 {
  background-image: url(./img/gal-8.jpeg);
  grid-column: 6 / span 2;
  grid-row: 3 / span 2;
}

.box-9 {
  background-image: url(./img/gal-9.jpeg);
  grid-column: 8 / span 1;
  grid-row: 3 / span 3;
}

.box-10 {
  background-image: url(./img/gal-10.jpeg);

  grid-column: 1 / span 1;
  grid-row: 6 / span 2;
}

.box-11 {
  background-image: url(./img/gal-11.jpeg);

  grid-column: 2 / span 2;
  grid-row: 6 / span 2;
}

.box-12 {
  background-image: url(./img/gal-12.jpeg);

  grid-column: 4 / span 1;
  grid-row: 6 / span 2;
}

.box-13 {
  background-image: url(./img/gal-13.jpeg);

  grid-column: 5 / span 3;
  grid-row: 5 / span 3;
}

.box-14 {
  background-image: url(./img/gal-14.jpeg);

  grid-column: 8 / span 1;
  grid-row: 6 / span 2;
}

/* /main section 4 */

/* footer*/

footer {
  background-color: rgb(7, 7, 45);
  opacity: 0.8;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: rgb(100, 240, 100);
}

.footer ul li a {
  /* width: 30%; */
  text-align: center;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 50px auto;
}

.footer ul {
  list-style: none;
  display: flex;
  gap: 40px;

  overflow: auto;
}

.footer-ul-container {
  width: 90%;
  margin: 0 auto;
}

.footer-buttom-div {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.footer-buttom-div p {
  font-size: 24px;
}

.footer-buttom-div span {
  color: #2abd8f;
}

/* responsive  */

@media only screen and (max-width: 1400px) {
  .web-site-child-2 {
    width: 96vw;
  }

  .main-section-2-text-div {
    height: 447px;
  }
}

@media only screen and (max-width: 1200px) {
  .web-site-child-1 {
    display: none;
  }

  .web-site-child-2 {
    width: 100%;
  }

  .header-child-div-2 {
    width: 30%;
  }

  .main-section-2-text-div {
    height: 400px;
  }
}

@media only screen and (max-width: 992px) {
  .header-child-div-1 {
    width: 100%;
  }

  .header-child-div-2-first-p {
    width: 100%;
    margin: 15px auto;
  }

  .header {
    display: flex;
    flex-flow: column wrap;
  }

  .header-child-div-2 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .container-responsive {
    width: 90%;
    margin: 0 auto;
  }

  .main-section-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .realtors-div-parent {
    width: 100%;
    display: flex;
    flex-flow: row;
  }

  .realtors-div img {
    width: 60px;
  }
  .realtors-p-1 {
    font-size: 18.72px;
  }

  .main-section-2 {
    display: flex;
    flex-flow: column wrap;
  }

  .main-section-2-text-div {
    height: 330px;
    width: 100%;
    margin-bottom: 20px;
    /* margin-bottom: -5000px; */
  }

  .main-section-2-img-div {
    width: 100%;

    /* margin-top: 500px; */
    margin-bottom: 600px;
  }

  .main-section-2-img-2 {
    top: 110px;
    left: 50px;
  }

  .main-section-2-img-3 {
    top: 240px;
    left: 480px;
    /* left: 200px;/ */
  }

  .main-section-3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .header-child-div-1 {
    width: 100%;
  }
  .header-child-div-2 {
    width: 100%;
    margin: 0 auto;
  }
  .header-child-div-2 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .realtors-div-parent {
    width: 100%;
    display: flex;
    flex-flow: row;
  }

  .main-section-1 {
    width: 100%;
  }

  .main-section-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .main-section-2-img-div {
    margin-bottom: 300px;
  }

  .main-section-2-img-3 {
    left: 330px;
    top: 150px;
  }

  .main-section-2-img-2 {
    top: 70px;
  }
}

@media only screen and (max-width: 576px) {
  .main-section-1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .main-section-3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
}
